* {
    margin: 0;
}

body {
    background-color: rgb(88, 0, 0);
    font-family: 'Helvetica'
}

.container {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 10%;
    background-color: #fff;
}

.selection {
    display: none;
    position: relative;
    align-items: center;
    text-align: center;
    top: 50%;
    margin-top: -70px;
}

.selection h3 {
    font-size: 3em;
}

.btn {
    width: 150px;
    height: 50px;
    margin: 10px 10px;
    font-size: 1.2em;
    background-color: #ccc;
    outline: none;
}

.btn:hover {
    background-color: #fff;
}

.game h2 {
    margin-top: 30px;
    font-size: 2.5em;
    text-align: center;
}

.grid-container {
    display: grid;
    width: 360px;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin:  40px auto;
}

.grid-container div {
    height: 120px;
    width: 120px; 
    border: 2px solid rgb(88, 0, 0);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica';
    font-size: 3em;
    font-weight: 200;
}

.grid-container div:hover {
    background-color: rgb(245, 215, 150);
}

